*.js
*.p
*.smi
*.log
__pycache__/*
*.pyc
.ipynb_checkpoints
dist/*
./dist
*.egg-info/*
.vscode
*.ipynb
*.html
*.pdf
*.tgz
.DS_Store
data/*
usr/
*.svg
*.png
*.xyz
*.csv
*.gif
*.energies
*.gradients
*.txt
notebooks/* 
site/objects.inv
site/sitemap.xml
site/sitemap.xml.gz
site/assets/_mkdocstrings.css
site/assets/javascripts/bundle.fe8b6f2b.min.js.map
site/assets/javascripts/workers/search.b8dbb3d2.min.js.map
site/assets/stylesheets/main.76a95c52.min.css
site/assets/stylesheets/main.76a95c52.min.css.map
site/assets/stylesheets/palette.06af60db.min.css
site/assets/stylesheets/palette.06af60db.min.css.map
site/search/search_index.json
out_ASNEB
.gitignore
notebooks/msmep_playground.py
