*.p
*.smi
*.log
__pycache__/*
*.pyc
.ipynb_checkpoints
dist/*
./dist
*.egg-info/*
.vscode
*.ipynb
*.html
*.pdf
*.tgz
.DS_Store
data/*
usr/
*.svg
*.png
*.xyz
*.csv
*.gif
*.energies
*.gradients
*.txt
notebooks/A2B.traj
notebooks/chain_traj10.energies
notebooks/alex_long_radicals/node_0_history/traj_0.energies
notebooks/charges
notebooks/hessian
notebooks/g98.out
notebooks/neb_short
notebooks/server.out
notebooks/vibspectrum
notebooks/wbo
notebooks/xtbrestart
notebooks/xtbtopo.mol
notebooks/lmao/charges
notebooks/lmao/g98.out
notebooks/lmao/hessian
notebooks/lmao/vibspectrum
notebooks/lmao/wbo
notebooks/lmao/xtbrestart
notebooks/lmao/xtbtopo.mol
